language: objective-c
matrix:
  include:
    - os: osx
      osx_image: xcode9
    - os: osx
      osx_image: xcode8.3
    - os: osx
      osx_image: xcode7.3
    - os: osx
      osx_image: xcode6.4
before_install:
    - gem install xcpretty -N
script:
  - set -o pipefail
  - xcodebuild | xcpretty -c
